<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxh.weshare.mapper.HistoryMapper">
  <resultMap id="BaseResultMap" type="com.yxh.weshare.bean.pojo.History">
    <id column="ws_history_id" jdbcType="INTEGER" property="wsHistoryId" />
    <result column="ws_user_id" jdbcType="INTEGER" property="wsUserId" />
    <result column="ws_goods_id" jdbcType="INTEGER" property="wsGoodsId" />
    <result column="ws_history_create_date" jdbcType="TIMESTAMP" property="wsHistoryCreateDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ws_history_id, ws_user_id, ws_goods_id, ws_history_create_date
  </sql>
  <select id="selectByExample" parameterType="com.yxh.weshare.bean.pojo.HistoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ws_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ws_history
    where ws_history_id = #{wsHistoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ws_history
    where ws_history_id = #{wsHistoryId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yxh.weshare.bean.pojo.HistoryExample">
    delete from ws_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yxh.weshare.bean.pojo.History">
    insert into ws_history (ws_history_id, ws_user_id, ws_goods_id, 
      ws_history_create_date)
    values (#{wsHistoryId,jdbcType=INTEGER}, #{wsUserId,jdbcType=INTEGER}, #{wsGoodsId,jdbcType=INTEGER}, 
      #{wsHistoryCreateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yxh.weshare.bean.pojo.History">
    insert into ws_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wsHistoryId != null">
        ws_history_id,
      </if>
      <if test="wsUserId != null">
        ws_user_id,
      </if>
      <if test="wsGoodsId != null">
        ws_goods_id,
      </if>
      <if test="wsHistoryCreateDate != null">
        ws_history_create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wsHistoryId != null">
        #{wsHistoryId,jdbcType=INTEGER},
      </if>
      <if test="wsUserId != null">
        #{wsUserId,jdbcType=INTEGER},
      </if>
      <if test="wsGoodsId != null">
        #{wsGoodsId,jdbcType=INTEGER},
      </if>
      <if test="wsHistoryCreateDate != null">
        #{wsHistoryCreateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yxh.weshare.bean.pojo.HistoryExample" resultType="java.lang.Long">
    select count(*) from ws_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ws_history
    <set>
      <if test="record.wsHistoryId != null">
        ws_history_id = #{record.wsHistoryId,jdbcType=INTEGER},
      </if>
      <if test="record.wsUserId != null">
        ws_user_id = #{record.wsUserId,jdbcType=INTEGER},
      </if>
      <if test="record.wsGoodsId != null">
        ws_goods_id = #{record.wsGoodsId,jdbcType=INTEGER},
      </if>
      <if test="record.wsHistoryCreateDate != null">
        ws_history_create_date = #{record.wsHistoryCreateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ws_history
    set ws_history_id = #{record.wsHistoryId,jdbcType=INTEGER},
      ws_user_id = #{record.wsUserId,jdbcType=INTEGER},
      ws_goods_id = #{record.wsGoodsId,jdbcType=INTEGER},
      ws_history_create_date = #{record.wsHistoryCreateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yxh.weshare.bean.pojo.History">
    update ws_history
    <set>
      <if test="wsUserId != null">
        ws_user_id = #{wsUserId,jdbcType=INTEGER},
      </if>
      <if test="wsGoodsId != null">
        ws_goods_id = #{wsGoodsId,jdbcType=INTEGER},
      </if>
      <if test="wsHistoryCreateDate != null">
        ws_history_create_date = #{wsHistoryCreateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ws_history_id = #{wsHistoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yxh.weshare.bean.pojo.History">
    update ws_history
    set ws_user_id = #{wsUserId,jdbcType=INTEGER},
      ws_goods_id = #{wsGoodsId,jdbcType=INTEGER},
      ws_history_create_date = #{wsHistoryCreateDate,jdbcType=TIMESTAMP}
    where ws_history_id = #{wsHistoryId,jdbcType=INTEGER}
  </update>
</mapper>